* {
  font-family: 'Courier New', Courier, monospace;
}

input {
  width: 100%;
}

label {
  display: block;
}

.container {
  margin: auto;
  width: 100vw;
  max-width: 500px;
}

.component-color {
  display: flex;
  margin-top: 100px;
}

.square-color {
  margin: auto;
  max-width: 150px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: black;
  border: solid 1px;
}

.controls {
  max-width: 250px;
}

.input-value {
  margin-left: 10px;
  width: 80px;
}

.text-center {
  text-align: center;
}